/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 27, 2024, 10:50:07 AM
    Author     : gbara
*/

/* Header Styles */
.header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-menu {
    list-style: none;
}

.nav-menu li {
    display: inline;
    margin-right: 20px;
}

.nav-menu li a {
    text-decoration: none;
    color: #fff;
}

.nav-menu li a:hover {
    color: #b0b0b0; /* İstenilen hover rengi */
    transition: color 0.3s ease; /* Renk geçiş süresi ve türü */
}