/* 
    Created on : Apr 27, 2024, 10:50:07 AM
    Author     : gbara
*/

/* Header Styles */
.header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.nav-links li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #b0b0b0; /* Hover color */
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333; /* Dropdown background color */
    width: auto; /* Öğenin içeriğine göre genişler */
    min-width: 200px; /* Minimum genişlik garantisi */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 0;
    border-radius: 4px;
    text-align: left; /* Metin hizalaması */
}

.submenu li {
    display: block;
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.submenu a {
    padding: 10px;
    color: #fff; /* Text color */
    display: block;
}

.submenu a:hover {
    background-color: #0056b3; /* Background color on hover */
}

.nav-links li:hover .submenu {
    display: block; /* Display the submenu */
}
