/* adminorders.css */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.admin-orders-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.admin-orders-header {
    background-color: #f0f0f0;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.admin-orders-content {
    padding: 20px;
}

.admin-orders-search {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.admin-orders-search input[type="text"] {
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.admin-orders-search button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.orders-table {
    width: 100%;
    border-collapse: collapse;
}

.orders-table th,
.orders-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.orders-table th {
    background-color: #f0f0f0;
    font-weight: bold;
}

.orders-table-row-odd {
    background-color: #f2f2f2;
}

.orders-table-row-even {
    background-color: #fff;
}

.footer {
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
}

.submit-order-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.details-button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.order {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
    width: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.order h2 {
    margin-bottom: 20px;
}

.order .panel-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.order .panel-grid label {
    font-weight: bold;
}

.order .panel-grid input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.order .panel-grid input[type="submit"] {
    grid-column: 1 / 3;
    margin-top: 20px;
}

.order .panel-grid select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
}
