/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Sidebar Styles */
/* Sidebar Styles */
.sidebar {
    width: 25%;
    background-color: #343a40;
    color: #fff;
    padding: 20px;
}

.sidebar-menu {
    list-style: none;
}

.sidebar-menu li {
    margin-bottom: 10px;
}

.sidebar-menu li.active a {
    background-color: #495057; /* Change the background color for active link */
    font-weight: bold; /* Make the active link bold */
}

.sidebar-menu a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar-menu a:hover {
    background-color: #495057; /* Ensure hover background matches the active background */
}


/* Main Content Styles */

.main-content {
    flex: 1;
}

.content {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}

.customer-management,
.order-management {
    margin-top: 20px;
}

.customer-management h2,
.order-management h2 {
    margin-bottom: 10px;
}

.customer-management table,
.order-management table {
    border-collapse: collapse;
    width: 100%;
}

.customer-management th,
.order-management th {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: left;
}

.customer-management td,
.order-management td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.customer-management tr:hover,
.order-management tr:hover {
    background-color: #f2f2f2;
}

.btn-add-customer,
.btn-add-order {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.btn-add-customer:hover,
.btn-add-order:hover {
    background-color: #444;
}

.add-customer-form,
.add-order-form {
    display: none;
}

.customer-management .add-customer-form.active,
.order-management .add-order-form.active {
    display: block;
}

.add-customer-form input[type="text"],
.add-customer-form input[type="email"],
.add-customer-form input[type="tel"],
.add-order-form input[type="text"],
.add-order-form input[type="email"],
.add-order-form input[type="tel"],
.add-order-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.add-customer-form input[type="submit"],
.add-order-form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}