w/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 26, 2024, 5:51:59 PM
    Author     : gbara
*/
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background: #f4f4f4;
}
.intro {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: white;
}
