/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 27, 2024, 5:37:09 PM
    Author     : gbara
*/

body {
 font-family: Arial, sans-serif;
}

#container {
 width: 800px;
 margin: 0 auto;
}

h1 {
 text-align: center;
}

#tasks {
 list-style: none;
 padding: 0;
}

#tasks li {
 margin-bottom: 20px;
 padding: 20px;
 background-color: #f2f2f2;
 border: 1px solid #ddd;
}

#tasks li h2 {
 margin-top: 0;
}