OURS
/CrmProject/nbproject/private/
/CrmProject/build/
/CrmProject/dist/
Baran's_Branch

/CrmProject/nbproject/private/
/CrmProject/build/
/CrmProject/dist/
THEIRS

main
/WebApplication1/nbproject/private/
/WebApplication1/build/
/WebApplication1/dist/
