body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    font-size: 1.8rem;
    color: #007bff;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
}

input[type="text"],
input[type="email"],
input[type="name"],
input[type="surname"],
input[type="phone"],
input[type="zipcode"],
input[type="address"],
input[type="country"],
input[type="city"],
input[type="password"] {
    border: none;
    border-radius: 5px;
    background-color: #f5f5f5;
    padding: 10px;
    font-size: 1.1rem;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}
select {
    border: none;
    border-radius: 5px;
    background-color: #f5f5f5;
    padding: 10px;
    font-size: 1.1rem;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

input[type="submit"] {
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0069d9;
}